.header {
    height: 50px;
    border-bottom: 1px solid grey;
    margin-bottom: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #031633 ;
    color: #fff;
}

.header h5 {
    position: relative;
    top: 50%;
    bottom: 50%;
    transform: translateY(-50%);
}