<div class="login row">
    <div class="col">
        <h3>SIGN IN</h3>
        <form>
            <div class="mb-3">
              <input type="email" class="form-control" placeholder="Email">
            </div>
            <div class="mb-3">
              <input type="password" class="form-control" placeholder="Password">
            </div>
            <div class="d-grid gap-2">
              <button class="btn btn-primary" type="button">SIGN IN</button>
            </div>
          </form>
    </div>
</div>