<div class="search row">
    <div class="col">
        <div class="row">
            <div class="col-6">
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="Origin">
                </div>
            </div>
            <div class="col-6">
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="Destination">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col d-grid gap-2">
                <button type="button" class="btn btn-primary btn-sm">Search</button>
            </div>
        </div>
    </div>
</div>